<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Realejo Randomized Cards</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- build:css vendor/bootstrap.min.css -->
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<!-- endbuild -->
		<!-- build:css vendor/animate.min.css -->
		<link rel="stylesheet" href="../bower_components/animate.css/animate.min.css">
		<!-- endbuild -->
		<!-- build:css vendor/font-awesome.min.css -->
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
		<!-- endbuild -->
		<noscript>
		    <style>
		        [class*="fa-"]:before {
		          content:"+";
		        }
		    </style>
		</noscript>
		<link rel="stylesheet" href="app.css">
		<% include _theme.ejs %>
  </head>
  <body>
    <div id="cards">
			<% /*
				This div is the application root, rendered in the browser using react.
				To edit it, open the file ./src/app.jsx
			*/ %>
			<div class="w100 container text-center mt-3">
				<div class="alert alert-info" role="alert">
				  <strong>textando...</strong> <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<!-- build:js vendor/jquery.min.js -->
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<!-- endbuild -->
		<!-- build:js vendor/tether.min.js -->
		<script src="../bower_components/tether/dist/js/tether.min.js"></script>
		<!-- endbuild -->
		<!-- build:js vendor/bootstrap.min.js -->
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- endbuild -->
		<script src="app.js"></script>
  </body>
</html>
